<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результат</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Результаты расчёта энергоэффективности</h1>
    {% if result <= 50 %}
        <p>Ваш дом имеет высокую энергоэффективность!</p>
    {% elif result <= 150 %}
        <p>Ваш дом имеет среднюю энергоэффективность.</p>
    {% elif result <= 300 %}
        <p>Ваш дом имеет низкую энергоэффективность.</p>
        <span>Хотите помочь экологии? Заполните форму и мы соберем вам экологичную сборку!</span>
        <a href="{{ url_for('form') }}" class="main_link">Заполнить форму</a>
    {% else %}
        <p>Ваш дом имеет крайне низкую энергоэффективность.</p>
        <span>Хотите помочь экологии? Заполните форму и мы соберем вам экологичную сборку!</span>
        <a href="{{ url_for('form') }}" class="main_link">Заполнить форму</a>
    {% endif %}
</body>
</html>